# Ignore everything
*
# But descend into directories
!*/
# Recursively allow files under subtree
!/mods/**
!/config/**
# You can be specific with these rules
!.gitignore

config/jei/worldSettings\.cfg

config/IC2\.ini

config/ichunutil\.cfg

config/InvTweaks\.cfg

config/splash\.properties

config/thaumicjei_itemstack_aspects\.json

config/astralsorcery/amulet_enchantments\.cfg

config/pregenerator/ExampleFile\.txt
